/* HEADER */

.hdr .hdr-container-red {
    background:#ac0000a4;
    display: grid;
    grid-template-columns: 1.5fr 2fr;
    padding: .5em;
}

.hdr .hdr-container-red a:nth-child(1){
    text-transform: uppercase;
    display: flex;
    align-items: center;
    color: #fff;
    text-decoration: none;
    padding-right: 1em
}


.hdr .hdr-container-red-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: .5em 0em;
    background:  #ac0000;
}

.hdr .hdr-container-red-2 span {
    color: #fff;
    font-size: 15px;
    padding: 1em 0em;
}

/* HEADER */

/*  SLIDER  */

.main-container__slider .main-container__slider-articles .main-container__slider-articles-row{
   width: 100%;
   overflow: hidden;
}

.main-container__slider-img{
    overflow: hidden;
    display: block;
}

.main-container__slider .main-container__slider-articles .main-container__slider-articles-row .main-container__slider-articles-row-link {
    position: relative;
}

.main-container__slider .main-container__slider-articles .main-container__slider-articles-row .main-container__slider-articles-row-link .main-container__slider-articles-row-infos {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    text-align: center;
}

.main-container__slider .main-container__slider-articles .main-container__slider-articles-row .main-container__slider-articles-row-link .main-container__slider-articles-row-infos .main-container__slider-details-txt-4,.main-container__slider-details-ttl-2 {
    color: #fff;
    padding: 1em 0;
    
} 

.main-container__slider .main-container__slider-articles .main-container__slider-articles-row .main-container__slider-articles-row-link .main-container__slider-articles-row-infos .main-container__slider-details-txt-4 {
    font-size: 1em
} 

.main-container__slider .main-container__slider-articles .main-container__slider-articles-row .main-container__slider-articles-row-link .main-container__slider-articles-row-infos .main-container__slider-details-ttl-2 {
    font-size: 2em
} 

.main-container__slider .main-container__slider-controls .main-container__slider-controls-left, .main-container__slider-controls-right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 25px;
    height: 25px;
    padding: 16px;
    color: #fff;
    border-radius: 50%;
    background: #ac0000a4;
    z-index: 1;
    cursor: pointer;
    transition: all .5s ease;
    display: flex;
    justify-content: center;
    user-select: none;
    text-decoration: none;
    align-items: center;
}

.main-container__slider .main-container__slider-controls i {
    font-size: 20px;
}

.main-container__slider-controls-right{
    right: 0;
}

.main-container__slider-controls-left:hover, .main-container__slider-controls-right:hover{
    background:#ac0000 !important;
}

.main-container__slider-pages {
    display: flex;
    justify-content: center;
    padding: 30px;
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);  
    cursor: pointer;
    
}

.main-container__slider-pages-puce {
    height: 10px;
    width: 10px;
    background:#ac0000;
    margin:0 5px;
    transition: all .5s ease-in;
}

.active, .main-container__slider-pages-puce:hover {
    background: #ac0000a4;
}

.main-container__slider-articles-2 {
    max-width: 970px;
    margin: 0 auto;
    padding: 1em .5em;
    display: flex;
}

.main-container__slider-articles-details {
    width: calc(100%/3);
    text-align: center;
}
.main-container__slider-articlesdetails-ttl-4 {
    padding: 1em 0;
    color: #ac0000;

}

.main-container__slider-articles-details-link-article {
    text-transform: uppercase;
    font-weight: 600;
    color: #ac0000;
    text-decoration: underline;
}

.main-container__slider-articles-details-ttl-2::after {
    content: '';
    background: #ac0000;
    width: 29px;
    height: 2px;
    display: block;
    margin: 20px auto;
}
.active-2 {
    border: 2px solid #ac0000;
}

/*  SLIDER  */

/* MAIN */

.main {
    max-width: 970px;
    margin: 0 auto;
}
.main .main-container {
    display: flex;
    justify-content: space-between;
    padding: 1em .5em;
}

.main .main-container .main-container-w60 {
    width: 65%;
}

.main .main-container .main-container-w60 .main-container__row {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-column-gap: 20px;
    padding: 2em 0em;
    text-align: center;
    border-top: 2px dotted #ac0000;
}

.main .main-container .main-container-w60 .main-container__row .main-container__row-details-txt{
    padding: .5em 0em;
    margin-bottom: 1em;
}

.main-container__row-details-link {
    text-decoration: none;
}

.main .main-container .main-container-w60 .main-container__row .main-container__row-details .main-container__row-details-ttl-4 {
    padding-bottom: 1em;
    color: #ac0000;
}

.main-container__row-details-ttl-2 {
    text-transform: uppercase;
    font-weight: 600;
    color: #ac0000;
    text-decoration: underline;
}

.main-container__row-details-ttl-2::after {
    content: '';
    background: #ac0000;
    width: 29px;
    height: 2px;
    display: block;
    margin: 20px auto;
}

.main-container__row-details-link {
    background: #ac0000;
    color: #fff;
    padding: .25em;
    margin-top: 1em;
}

.main .main-container .main-container-w40 {
    background:#ccc;
    width: 32%;
}



/* MAIN ACTUALITES */

.main-actualites {
    margin-bottom: 2em;
}

.main-actualites__container-ttl-2 {
    text-align: center;
    color: #ac0000;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 1.25em;
    margin: 2em 0;
}
 

.main-actualites__columns {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

.main-actualite__column  {
    max-width: 25%;
    text-align: center;
}

.main-actualite__column-link-img {
    text-align: center;
}

.main-actualite__column .main-actualite__row-details .main-actualite__row-details-ttl-4 {
    padding: 1em 0;
    color: #ac0000;
}

.main-actualite__column .main-actualite__row-details .main-actualite__row-details-ttl-2::after {
    content: '';
    background: #ac0000;
    width: 29px;
    height: 2px;
    display: block;
    margin: 20px auto;
}

.main-actualite__row-details-ttl-2 {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: bold;
    color: #ac0000;
    text-decoration: underline;
}

/* MAIN CONTAINER LOGO */

.main section.main-container_logo {
    width: 100%;
    height: 114px;
}

/* MAIN */

/* FOOTER */

.footer {
    background: #ac0000a4;
}

.footer .footer-container__links {
    max-width: 970px;
    margin: 0 auto;
}

.footer .footer-container__links .footer-container__list-items {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1em 0;
} 

.footer .footer-container__links .footer-container__list-items li {
    padding: 0 1em;
    margin: 5px 0;
}

.footer .footer-container__links .footer-container__list-items li:not(:first-child) {
    border-left: 1px solid #ac0000;
}

.footer .footer-container__links .footer-container__list-items li a {
    color: #fff;
    text-decoration: none;
}