@media screen and (max-width: 768px){
    .main .main-container {
        flex-direction: column;
    }

    .main .main-container .main-container-w60 {
        width: 100%;
    }

    .main .main-container .main-container-w60 .main-container__row {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1em 3em;
        margin: 0em 2em;
    }

    .main-container__row-details-ttl-4 {
        padding: 1em 0em;;
    }

    .main .main-container .main-container-w40 {
        margin: 0 auto;
        width: 60%;
    }

    .main-actualite__column-img {
        width: 160px;
    }
    .main-container__slider-articles-2 {
        flex-direction: column;
    }
    .main-container__slider-articles-details {
        width: 100%;
    }
}

@media screen and (min-width: 768px){


    .main .main-container .main-container-w60 .main-container__row {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 1em 0em;
        margin: 0em;
    }
    

}


@media screen and (max-width: 960px){
    .main-actualite__column{
      min-width: 45%;
    }


  }
  /*
  @media screen and (max-width: 768px){
    .main-actualite__column{
      max-width: 50%;
    }
  }*/

